# Dependencies
node_modules
npm-debug.log*

# Production builds
dist

# Environment variables
.env*

# IDE files
.vscode
.idea

# OS files
.DS_Store

# Logs
logs
*.log

# Docker
Dockerfile*
docker-compose*

# TypeScript
*.tsbuildinfo

# Test files
test
tests
*.test.ts
*.spec.ts

# Documentation
README.md
docs
